*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(49, 99, 67, 0.729);
    height: 100vh;
    overflow: hidden;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 2.5rem;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: whitesmoke;
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    font-size: 4rem;
    color: red;
}

#resetbtn, #newbtn{
    background-color: black;
    color: whitesmoke;
    height: 5vh;
    width: 8vw;
    border-radius: .5rem;
}

.winner{
    height: 150px;
    width: 30vw;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: .9rem;
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 1%;
}

.winner>p{
    font-size: 2rem;
}

.hide{
    display: none;
}